body {
    text-align: center;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
}
h1{
    color:navy;
}
h2 {
    color: navy;
}
table {
    width: 100%
}
td{
    border: solid black;
}
.table-header{
    background-color: lightgrey;
    font-weight: bold;
}
