body {
    text-align: center
}
.tour-link {
    text-decoration: none;
    font-size: 23px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.picture-description {
    text-align: center;
    width: 70%;
    margin: auto;
}
.picture{
    max-width:70%;
    height: auto;
}
