{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1> Transaction history</h1>

<table class="quotes-table">

    {% if records %}
    <tr>
        <th>SYMBOL</th>
        <th>AMOUNT</th>
        <th>PRICE</th>
        <th>TIME</th>
        <th>TYPE</th>
    </tr>
        {% for record in records %}
            <tr>
                <td>{{ record['symbol'] }}</td>
                <td>{{ record['amount'] }}</td>
                <td>{{ record['quote'] }}</td>
                <td>{{ record['timestamp'] }}</td>
                <td>{{ record['type'] }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>

{% endblock %}
