{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1> Portfolio</h1>

    <table class="quotes-table">
        <tr>
            <th>SYMBOL</th>
            <th>AMOUNT</th>
            <th>BUYING PRICE</th>
            <th>CURRENT PRICE</th>
        </tr>
        {% for entry in portfolio %}
            <tr>
                <td>{{ entry['symbol'] }}</td>
                <td>{{ entry['amount'] }}</td>
                <td>{{ entry['quote'] }}</td>
                <td>{{ entry['current_quote'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
