{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1> Portfolio</h1>

    <table class="quotes-table">
        <tr>
            <th>SYMBOL</th>
            <th>AMOUNT</th>
            <th>BUYING PRICE</th>
            <th>CURRENT PRICE</th>
        </tr>
        {% if not portfolio %}
            <div>
                Time to go shoping... 
            </div>
        {% else %}
            {% for entry in portfolio %}
                <tr>
                    <td>{{ entry['symbol'] }}</td>
                    <td>{{ entry['amount'] }}</td>
                    <td>{{ entry['quote'] }}</td>
                    <td>{{ entry['current_quote'] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
        <hr>
        <table class="quotes-table">
            <tr>
                <th>TOTAL SUM OF INVESTMENTS</th>
                <td>{{ sum }}</td>
            </tr>
            <tr>
                <th>REMAINING CASH</th>
                <td>{{ cash }}</td>
            </tr>
    </table>
{% endblock %}
