{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    {% if quotes %}
    <table class="quotes-table">
        <tr>
            <th>Symbol</td>
            <th>Price</td>
        </tr>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote['symbol'] }}</td>
                <td>{{ quote['price'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No quotes available.</p>
    {% endif %}
{% endblock %}
