{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <h1>Sell your shares</h1>
    <div class="mb-3">
        <select class="form-control mx-auto w-auto" name="symbol">
            <option value ="" disabled selected>--SELECT--</option>
            {% for row in rows %}
                <option>{{ row['symbol'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="amount">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Sell</button>
    </div>
</form>

{% endblock %}
